services:

  mock-xconf:
    image: "ghcr.io/rdkcentral/docker-device-mgt-service-test/mockxconf:latest"
    container_name: "mockxconf"
    ports:
      - "50050:50050"
      - "50051:50051"
      - "50052:50052"
      - "50053:50053"
      - "50056:50056"
    volumes:
      - ../:/mnt/L2_CONTAINER_SHARED_VOLUME
    environment:
      - ENABLE_MTLS=true    


  l2-container:
    image: "ghcr.io/rdkcentral/docker-device-mgt-service-test/native-platform:latest"
    container_name: "native-platform"
    ports:   
      - "9090:9090"  
    depends_on:
      - mock-xconf
    volumes:
      - ../:/mnt/L2_CONTAINER_SHARED_VOLUME
    cap_add:
      - NET_ADMIN
      - SYS_ADMIN
    security_opt:
      - seccomp=unconfined
      - apparmor=unconfined 
    environment:
      - ENABLE_MTLS=true    
  
  nmap-container:
    image: "ghcr.io/rdkcentral/docker-device-mgt-service-test/native-platform:latest"
    container_name: "nmap-platform"  
    depends_on:
      - mock-xconf
    volumes:
      - ../:/mnt/L2_CONTAINER_SHARED_VOLUME
    cap_add:
      - NET_ADMIN      
      
